BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
UseTab: Always
AccessModifierOffset: -2
BreakBeforeBraces: Stroustrup
# for competitive programing
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
